# file: .htaccess
# descrição: arquivo que vai direcionar todos os acessos para a pasta /public
# Autor: Daniel J. Santos
# E-mail: daniel.santos.ap@gmail.com 
RewriteEngine on
RewriteRule    (.*) public/$1 [L]
# ##RewriteRule    ^$ public/    [L]